.contest {
  font-family: inherit;
}

.contest__header {
  display: flex;
  flex-direction: column;
}

.contest__form {
  display: flex;
  flex-direction: column;
}

.contest__slogan {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  background: url("../source/img/back-mobile.png") @bg_dark-blue;
}

.contest__desc {
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @dark;
  margin: 54px 20px;
}

.contest__label {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @red;
  display: block;
}

.contest__input {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding: 23px 20px;
}

@media (min-width: @desktop-width) {
  .contest__form {
    display: grid;
    grid-template-columns: min-content min-content;
  }

  .contest__text-input_wrap:first-of-type {
    grid-column: 1/2;
  }

  .contest__buttons-wrap:first-of-type {
    background: #ffffff;
    grid-column: 2/3;
  }

  .contest__buttons-wrap {
    background: #ffffff;
  }

  .contest__text-input_wrap {
    grid-column: 1/-1;
  }

  .contest__text-input_wrap:last-of-type {
    grid-column: 1/2;
  }
}

.contest__caption {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @red;
  display: block;
}

.contest__checkbox-labe {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.contest__textarea {
  width: 280px;
  height: 200px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.contest__button {
  padding: 23px 45px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  background: @green;
  border: 2px solid @green;
  border-radius: 1px;
  color: #ffffff;
}

.contest__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.contest__text b {
  color: @red;
}
