.contacts {
  font-family: inherit;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  display: block;
  margin: 50px 50px 45px 50px;
}

.contacts__subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0 120px 12px 120px;
}

.contacts__text,
.contacts__text a {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @red;
  text-align: center;
}
