@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2");
  font-display: swap;
}

.copyright {
  font-family: "OpenSans", "Arial", sans-serif;
}

.copyright__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
