.download {
  font-family: inherit;
  color: #ffffff;
  background: url("../img/bg/back-mobile.png") no-repeat @bg_dark-blue;
  background-size: 100% 462px;

  @media (min-width: @tablet-width) {
    background: url("../img/bg/back-desktop.png") no-repeat center @bg_dark-blue;
  }
}

.download__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    background: url("../img/bg/phone-hand.png") no-repeat 50% 100%;
    background-size: 40%;
  }
}

.download__slogan {
  margin: 20px 20px 40px 20px;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: inherit;
}

.download__button {
  background: @bg_dark-blue;
  outline: 0;
  margin: 28px 20px 40px 20px;
  padding: 21px 39px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: inherit;
}

.download__intro {
  margin: 20px 20px 40px 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.download__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.download__item {
  margin: 0 10px 0 0;
}

.download__image {
  margin: 58px 0 0 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
