.download {
  font-family: inherit;
  color: #ffffff;
}

.download__wrapper {
  width: 320px;
  text-align: center;
  background: url("../../img/back-mobile.png") @bg_dark-blue;
}

.download__slogan {
  margin: 20px 20px 40px 20px;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: inherit;
}

.download__button {
  background: @bg_dark-blue;
  outline: 0;
  margin: 28px 20px 40px 20px;
  padding: 21px 39px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: inherit;
}

.download__intro {
  margin: 20px 20px 40px 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.download__list {
  list-style: none;
}
