.offer {
  font-family: inherit;
}

.offer__wrapper {
  width: 320px;
  text-align: center;
  background: @gray;
}

.offer__slogan {
  margin: 46px 20px 50px 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.offer__list {
  list-style: none;
  margin: 46px 20px 50px 20px;
}

.offer__title {
  color: @dark;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.offer_text {
  color: @dark;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
