.offer {
  font-family: inherit;
}

.offer__wrapper {
  width: 100%;
  text-align: center;
  background: @gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.offer__image {
  width: 157px;
  height: 280px;
  align-self: center;
  margin: 0 0 -2px;

  @media (min-width: @tablet-width) {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 3%;
    width: 268px;
    height: 480px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    display: none;
    margin: 0;
  }
}

.offer__slogan {
  margin: 45px 20px 28px 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: @tablet-width) {
    margin: 46px auto 0;
    font-size: 40px;
    line-height: 54px;
    width: 90%;

    & br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 65px auto 0;
    font-size: 50px;
    line-height: 68px;
  }

  &-wrapper {
    background: @white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    width: 100%;
    margin: 0 0 -10% 0;
  }
}

.offer__slogan:nth-child(2) {
  margin: 0 0 70px 0;

  @media (min-width: @tablet-width) {
    margin: 0 auto 13.2%;
    width: 60%;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 136px;

    & br {
      display: block;
    }
  }
}

.offer__list {
  padding: 0;
  list-style: none;
  margin: 73px auto 25px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  @media (min-width: @tablet-width) {
    order: 2;
    align-self: flex-start;
    text-align: left;
    margin: 85px 0 25px 315px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto 25px;
    column-gap: 10px;
    width: 100%;
  }
}

.offer__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.offer__item .offer__image {
  display: none;

  @media (min-width: @desktop-width) {
    order: 0;
    display: block;
    align-self: center;
    width: 310px;
    height: 301px;
    margin: 0;
  }
}

.offer__title {
  color: @dark;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  & br {
    display: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;

    & br {
      display: inline;
    }
  }
}

.offer__text {
  color: @dark;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  & .desktop-br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin: 11px 0 20px 0;

    & br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 15px 0 20px 0;
    font-size: 18px;
    line-height: 30px;

    & .desktop-br {
      display: inline;
    }

    & .mobile-br {
      display: none;
    }
  }

  &-wrapper {
    @media (min-width: @tablet-width) {
      margin: 0 0 0 12px;
      width: 93%;
    }

    @media (min-width: @desktop-width) {
      margin: 60px 0 0 0;
    }
  }
}
