.page-header {
  background-image: url("../img/bg/back-mobile.png");
  background-color: @dark-blue;
  background-repeat: no-repeat;
  background-size: 100%;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/back-mobile-2x.png");
    background-color: @dark-blue;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg/back-tablet.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: @dark-blue;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/back-tablet-2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background: url("../img/bg/back-desktop.png") no-repeat @dark-blue center;
    background-size: 100%;
    background-position-y: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/back-desktop-2x.png");
    }
  }

  &--index {
    position: relative;
    background-image: url("../img/bg/phone-hand.png"), url("../img/bg/back-mobile.png");
    background-size: 320px 288px, 100% 462px;
    background-position: 50% 175px, 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/phone-hand-2x.png"), url("../img/bg/back-mobile-2x.png");
    }

    @media (min-width: @tablet-width) {
      background: url("../img/bg/phone-hand-tablet.png") bottom no-repeat, url("../img/bg/back-tablet.png") no-repeat @dark-blue center;
      background-size: 660px, 100%;

      @media (min-resolution: 2dppx) {
        background: url("../img/bg/phone-hand-tablet-2x.png") bottom no-repeat, url("../img/bg/back-tablet-2x.png") no-repeat @dark-blue;
        background-size: 890px, 100%;
      }
    }

    @media (min-width: @desktop-width) {
      background: url("../img/bg/phone-hand-tablet.png") bottom no-repeat, url("../img/bg/back-desktop.png") no-repeat @dark-blue center;
      background-size: 1000px, 100%;
      background-position-x: 65%, center;
      background-position-y: 100%, center;

      @media (min-resolution: 2dppx) {
        background: url("../img/bg/phone-hand-tablet-2x.png") bottom no-repeat, url("../img/bg/back-desktop-2x.png") no-repeat @dark-blue;
        background-size: 1050px, 100%;
        background-position: 97% 205px, 0 0;
      }
    }

    .page-header__slogan {
      margin: 87px 20px 310px 20px;

      @media (min-width: @tablet-width) {
        margin: 0 0 32px 47px;
        width: 200px;
        font-size: 40px;
        line-height: 120%;
      }

      @media (min-width: @desktop-width) {
        margin: 0 0 35px 20px;
        width: 250px;
        font-size: 50px;
        line-height: 68px;
      }
    }

    .page-header__wrapper {
      @media (min-width: @tablet-width) {
        margin: 205px 5px 105px 20px;
      }

      @media (min-width: @desktop-width) {
        margin: 210px 0 115px 135px;
      }
    }
  }
}

.page-header__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    align-self: flex-start;
    height: 100%;
    justify-content: center;
    margin: 100px 5px 0 20px;
  }

  @media (min-width: @desktop-width) {
    left: 11%;
    top: 4%;
    height: 100%;
    justify-content: center;
  }
}

.page-header__button {
  background: transparent;
  margin: 28px 20px 18px 20px;
  padding: 15px 35px;
  border: 3px solid @white;
  box-sizing: border-box;
  border-radius: 29px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;

  &:hover {
    background: @white;
    color: @red;
  }

  &:active {
    background: @white;
    color: fade(@red, 30%);
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 45px 0;
    font-size: 18px;
    padding: 16px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 65px 0;
    font-size: 21px;
    padding: 17px;
    width: 300px;
  }
}

.page-header__intro {
  margin: 20px 20px 30px 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin: 0 0 10px 0;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 10px 0;
  }
}

.page-header__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 15px 0 -5px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 25px 10px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 45px 0;
  }
}

.page-header__item {
  display: flex;
  align-items: center;
  margin: 0 38px 0 0;

  @media (min-width: @tablet-width) {
    margin: 0 34px 0 0;
  }
}

.page-header__slogan {
  margin: 95px 20px 80px 20px;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: inherit;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 180px 20px 125px 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 69px;
    width: 80%;
    margin: 170px 20px 85px 20px;

    & br {
      display: none;
    }

    &--catalog {
      br {
        display: block;
      }
    }
  }
}
