.page-header {
  background-image: url("../img/bg/back-mobile.png");
  background-color: @dark-blue;
  background-repeat: no-repeat;
  background-size: 100%;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/back-mobile-2x.png");
    background-color: @dark-blue;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg/back-tablet.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: @dark-blue;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/back-tablet-2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background: url("../img/bg/back-desktop.png") no-repeat @dark-blue center;
    background-size: 100%;
    background-position-y: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/back-desktop-2x.png");
    }
  }

  &--index {
    background: url("../img/bg/phone-hand.png") bottom no-repeat, url("../img/bg/back-mobile.png") no-repeat @dark-blue;
    background-size: 320px, 100%;
    height: 462px;

    @media (min-resolution: 2dppx) {
      background: url("../img/bg/phone-hand-2x.png") bottom no-repeat, url("../img/bg/back-mobile-2x.png") no-repeat @dark-blue;
      background-size: 320px, 100%;
    }

    @media (min-width: @tablet-width) {
      height: 730px;
      background: url("../img/bg/phone-hand-tablet.png") bottom no-repeat, url("../img/bg/back-tablet.png") no-repeat @dark-blue center;
      background-size: 660px, 100%;

      @media (min-resolution: 2dppx) {
        background: url("../img/bg/phone-hand-tablet-2x.png") bottom no-repeat, url("../img/bg/back-tablet-2x.png") no-repeat @dark-blue;
        background-size: 890px, 100%;
      }
    }

    @media (min-width: @desktop-width) {
      background: url("../img/bg/phone-hand-tablet.png") bottom no-repeat, url("../img/bg/back-desktop.png") no-repeat @dark-blue center;
      height: 850px;
      background-size: 780px, 100%;
      background-position-x: 65%, center;
      background-position-y: 100%, center;

      @media (min-resolution: 2dppx) {
        background: url("../img/bg/phone-hand-tablet-2x.png") bottom no-repeat, url("../img/bg/back-desktop-2x.png") no-repeat @dark-blue;
        background-size: 780px, 100%;
      }
    }
  }
}

.page-header__slogan {
  margin: 95px 20px 80px 20px;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: inherit;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 180px 20px 125px 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 69px;
    width: 30%;
    margin: 170px 20px 85px 20px;

    & br {
      display: none;
    }
  }
}
