.photo-gallery {
  font-family: inherit;
}

.photo-gallery__slogan {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  background: url("../../img/back-mobile.png") @bg_dark-blue;
}

.photo-gallery__desc {
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @dark;
  margin: 54px 20px;
  background: #ffffff;
}

.photo-gallery__image {
  width: 280px;
}

.photo-gallery__image--current {
  width: 320px;
}

.photo-gallery__list {
  list-style: none;
  background: #ffffff;
}

.photo-gallery__span {
  padding: 14px 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  background: @red;
}

.photo-gallery__author {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @dark;
}

.photo-gallery__comment-wrap {
  padding: 25px;
  background: @gray;
  width: 280px;
  margin: 0 0 20px 0;
}

.photo-gallery__date {
  text-transform: uppercase;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.photo-gallery__comment {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.photo-gallery__likes {
  text-transform: uppercase;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: @red;
}
