.photo-gallery {
  font-family: inherit;
}

.photo-gallery__slogan {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  background: url("../img/back-mobile.png");
}

.photo-gallery__desc {
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @dark;
  margin: 54px 20px;
  background: #ffffff;
}


.photo-gallery__list {
  list-style: none;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 20px;
    row-gap: 54px;
  }
}

.photo-gallery__image {
  &--current {
    width: 100%;
  }
}

.photo-gallery__item {
  display: flex;
  flex-direction: column;

  &--current {
    @media (min-width: @tablet-width) {
      grid-column: 1/-1;
    }
  }
}

.photo-gallery__span {
  position: absolute;
  margin: 0 0 0 150px;
  padding: 14px 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  background: @red;

  @media (min-width: @tablet-width) {
    margin: 30px 0 0 720px;
  }
}

.photo-gallery__author {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @dark;
}

.photo-gallery__comment-wrap {
  padding: 25px;
  background: @gray;
  margin: 0 0 20px 0;
}

.photo-gallery__date {
  text-transform: uppercase;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.photo-gallery__comment {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.photo-gallery__likes {
  text-transform: uppercase;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: @red;
}
