.photo-gallery {
  font-family: inherit;
}

.photo-gallery__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-gallery__slogan {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @white;
  background: url("../img/back-mobile.png");
}

.photo-gallery__desc {
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @dark;
  margin: 54px 20px;
  background: @white;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }
}


.photo-gallery__list {
  padding: 0;
  list-style: none;
  background-color: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 20px;
    row-gap: 54px;
    align-items: start;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
    row-gap: 54px;
    align-items: start;
    justify-content: center;
  }
}

.photo-gallery__image-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .photo-gallery__comment-wrap {
    align-self: center;

    @media (min-width: @desktop-width) {
      width: 940px;
    }
  }

  .photo-gallery__comment {
    @media (min-width: @tablet-width) {
      grid-column: 1/-1;

      & br {
        display: none;
      }
    }
  }

  .photo-gallery__image {
    width: 100%;

    @media (min-width: @desktop-width) {
      height: 506px;
    }

    @media (min-resolution: 2dppx) {
      content: url("../img/gallery/panorama-desktop.png");
    }
  }
}

.photo-gallery__image {
  width: 280px;
  height: 180px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 300px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.photo-gallery__item {
  display: grid;
  grid-template-rows: 180px 1fr;

  @media (min-width: @tablet-width) {
    grid-template-rows: 300px 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 400px 1fr;
  }
}

.photo-gallery__span {
  position: absolute;
  margin: 30px 0 0 60%;
  padding: 14px 20px;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: @white;
  background: @red;

  @media (min-width: @tablet-width) {
    margin: 30px 0 0 80%;
  }
}

.photo-gallery__author {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @dark;
}

.photo-gallery__comment-wrap {
  padding: 25px;
  background: @gray;
  margin: 0 0 20px 0;
}

.photo-gallery__date {
  text-transform: uppercase;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.photo-gallery__comment {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.photo-gallery__likes {
  text-transform: uppercase;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: @red;
}

.photo-gallery__mobile-br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
