.post-photo {
  font-family: inherit;
}

.post-photo__wrapper {
  background: #ffffff;
}

.post-photo__button {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @red;
  padding: 21px 90px;
  border: 3px solid @red;
  box-sizing: border-box;
  border-radius: 30px;
  background: #ffffff;

  &:disabled {
    color: @gray;
    border: 3px solid @gray;
  }
}
