.research {
  padding: 54px 0 45px;
  font-family: inherit;
  background: @white;
  display: none;

  @media (min-width: @tablet-width) {
    padding: 50px 0 45px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    padding: 23px 0 60px;
    background: @gray;
  }
}

.research__wrapper {
  margin: 0 0 0 72px;
  flex-direction: column;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 11%;
  }

  @media (min-width: @desktop-width) {
    margin: 2.9% 0 0 5.5%;
  }
}

.research__slogan {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin: 42px 0 10px 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
    margin: 62px 0 25px 0;

    & br {
      display: none;
    }
  }
}

.research__image {
  @media (min-width: @tablet-width) {
    margin: 0 0 0 -12px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 346px;
    margin: 0 0 0 -46px;
  }
}

.research__intro {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @dark;


  @media (min-width: @tablet-width) {
    margin: 5px 0 14px 0;

    & .desktop-br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 30px 0;
    width: 100%;

    & .mobile-br {
      display: none;
    }

    & .desktop-br {
      display: block;
    }
  }
}

.research__link {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @red;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
