.review {
  background-color: @gray;
}

.review__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__item:not(:first-of-type) {
  display: none;
}

.review__prev,
.review__next {
  display: none;
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: 0;


  @media (min-width: @desktop-width) {
    display: flex;
    padding: 20px;
  }

  .review__button-image {
    opacity: 0.3;
    fill: @dark;
  }

  &:hover .review__button-image {
    opacity: 1;
  }

  &:active .review__button-image {
    opacity: 0.1;
  }
}

.review__list {
  position: relative;
}

.review__next {
  right: 110px;
  top: 40px;
}


.review__prev {
  left: 110px;
  top: 40px;
}

.review__toggles {
  margin: 0 0 50px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.review__wrapper {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  background: @white;
  text-align: center;
  padding: 40px 0 0 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 0% 100%);

  @media (min-width: @desktop-width) {
    background-image: url("../img/icons/quotes.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20px;
    padding: 100px 0 0 0;
    margin: 50px 0 0 0;
  }
}

.review__descr {
  display: none;
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    order: 3;
    display: block;
    font-size: 14px;
    margin: 0 0 25px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    margin: 2px 0 120px;
  }
}

.review__author {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin: 35px 0 0 0;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    font-size: 24px;
  }
}

.review__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  width: 100%;
  margin: 12px 0 20px 0;

  @media (min-width: @tablet-width) {
    width: 96%;
    order: 1;
    font-size: 18px;
    line-height: 30px;
    margin: 35px 0 0 0;

    & br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 65%;
    margin: 35px 0 35px 0;
  }
}
