.review__item:not(:first-of-type) {
  display: none;
}

.review__prev .review__next {
  position: absolute;
}

.review__wrapper {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  background: #ffffff;
  text-align: center;
}

.review__author {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.review__text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
