.site-list {
  list-style: none;
  z-index: 2;
}

.site-item {
  padding: 21px 0;
}

.site-list a {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  background: @bg_dark-blue;

  @media (min-width: @desktop-width) {
    box-shadow: none;
    background: transparent;
  }
}
