.slider__toggle {
  border-radius: 50%;
  border: 0;
  margin: 30px;
  height: 10px;
  width: 10px;
  padding: 0;
  outline: 0;
  background: rgba(40, 54, 69, 0.3);

  &--current {
    height: 13px;
    width: 13px;
    border: 3px solid @dark;
    background: @white;
  }
}
