.social {
  font-family: inherit;
}

.social__item {
  width: 28px;
  height: 28px;
  padding: 15px;
  border-radius: 50%;
  border: 3px solid fade(@dark, 10%);
}

.social__list {
  list-style: none;
}
